.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-text-color: #353430;
  --accent-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --logo-color: #ffc2e6;
  --accent-logo-color: #ff0070;
  --accent-link-color: #ff8dcb;
  --accent-decor-color: #ff8dcb;
  --hover-color: rgb(50, 49, 45, 0.4);
}

.page.theme_light .header-recreation {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-text-color: #353430;
    --accent-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --logo-color: #ffc2e6;
    --accent-logo-color: #ff0070;
    --accent-link-color: #ff8dcb;
    --accent-decor-color: #ff8dcb;
    --hover-color: rgb(50, 49, 45, 0.4);
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_auto .header-recreation {
    display: none;
  }
}