/* Основные стили проекта. Cтили для темной темы */

.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1024px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

@media (376px <= width < 1024px) {
  .header {
    min-height: 1024px;
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    padding: 20px;
  }
}

.header-recreation {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

@media (376px <= width) {
  .header-recreation {
    top: 20px;
    right: 48px;
  }
}

.header-recreation::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 20px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

@media (376px <= width) {
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (376px <= width) {
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  padding: 1.5px 13px;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  align-self: self-start;
  color: var(--logo-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-logo-color);
}

@media (376px <= width < 1024px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  color: var(--accent-text-color, #000028);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
}

@media (376px <= width < 1024px) {
  .header__subtitle {
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    max-width: 491px;
  }
}

.title-decor {
  background-color: var(--accent-decor-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 10px;
}

@media (376px <= width) {
  .content {
    gap: 80px;
    margin: 20px 20px 0 20px;
  }
}

.section-why {
  margin-block-start: 40px;
}

.section-what {
  display: grid;
  gap: 20px;
}

.section-grid {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .section-grid {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-what .content__title {
    width: 30%;
  }
}

@media (width >= 1024px) {
  .section-grid {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
}

@media (width >= 1024px) {
  .section-what {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-what .content__title {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    margin-bottom: 0px;
  }

  .section-what .content__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / span 3;
  }
}

.heading {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
}

.content__subtitle {
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
}

.content__subtitle-lite {
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
}

.content__block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-advice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

@media (width >= 1024px) {
  .cards-row {
    gap: 20px;
  }
}

.images__cards {
  display: grid;
  gap: 10px;
  padding-block-end: 40px;
}

@media (376px <= width) {
  .images__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .images__cards .content__subtitle {
    grid-column-end: span 3;
  }

  .images__cards .card-image:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .images__cards .card-image:nth-child(3) {
    grid-column: 3;
    grid-row: 2 / span 2;
  }

  .images__cards .card-image:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / span 2;
  }

  .images__cards .card-image:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .images__cards .card-image:nth-child(6) {
    grid-column: span 2;
    grid-row: 4;
  }
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

@media (376px <= width < 1024px) {
  .footer {
    min-height: 1024px;
    margin: 20px 0 0 0;
  }
}

@media (width >= 1024px) {
  .footer {
    min-height: 768px;
    margin: 20px 0 0 0;
  }
}

.footer__title {
  display: flex;
  justify-content: center;
  color: var(--logo-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-logo-color);
}

@media (width > 376px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-link-color);
}
