@media (prefers-color-scheme: dark) {
  :root {
    --main-font: "IBM Plex mono";
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-text-color: #000028;
    --accent-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
    --logo-color: #db00ff;
    --accent-logo-color: #ff0070;
    --accent-link-color: #ff0070;
    --accent-decor-color: #ff0070;
    --hover-color: rgb(255, 0, 112, 0.4);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono";
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-text-color: #353430;
    --accent-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --logo-color: #ffc2e6;
    --accent-logo-color: #ff0070;
    --accent-link-color: #ff8dcb;
    --accent-decor-color: #ff8dcb;
    --hover-color: rgb(50, 49, 45, 0.4);
  }
}
